<% layout('./layout/boiler-plate') %>

<div class="hero container">
    <div class="hero-text">
        <h1 class="ml2">Muzika</h1>
        <p class="ml3">This a not very long tagline , under construction.</p>
    </div>
</div>
<a href="/login"><button type="button" class="btn btn2 btn-primary btn-lg">Login</button></a>
