<% layout('./layout/boiler-plate') %>

<div class="hero container">
    <div class="hero-text">
        <h1>Muzika</h1>
        <p>This a not very long tagline , under construction.</p>
    </div>
</div>

