<% layout('./layout/boiler-plate') %>
<button type="button" class="btn btn3 btn-primary btn-lg">&Gamma;ogin</button>
<button type="button" class="btn btn1 btn-primary btn-lg">&Sigma;ign&mu;p</button>
