<% layout('./layout/boiler-plate1') %>
<div class="hero1 container">
    <div class="hero-text">
        <h1 class="heading">Muzika</h1>
    </div>
</div>
<form method="POST" action="/login">
    <input name="uname" type="text" class="username1 form-control" id="exampleFormControlInput1" placeholder="Username">
    <input name="pass" type="password" class="password1 form-control" id="exampleFormControlInput1" placeholder="Password">
    <input type="submit" class="btn btn3 btn-primary btn-lg">&Gamma;ogin</button>
</form>
<a href="/signup">
<button type="button" class="btn btn1 btn-primary btn-lg">&Sigma;ign&mu;p</button>
</a>