.nav-overlay{
    text-align: right;
    width: 100%;
    height: 100%;
    background-color: #12121277;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    box-shadow: 0 16px 26px -15px #7915E6AA;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

.particle{
    z-index: 900;
}

.controller {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}
.play-button {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 72px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}
.play-button::before,
.play-button::after {
    content: '';
    position: absolute;
    top: 36px;
    width: 0;
    height: 0;
    transform: translateY(-50%);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #fff;
    border-right-color: #fff;
    border-style: solid;
    transition: all .2s linear;
}
.play-button::before {
    right: 44px;
    height: 72px;
    border-width: 0 0 0 16px;
}
.play-button.play::before {
    right: 36px;
    height: 62px;
    border-width: 14px 0 14px 28px;
}
.play-button::after {
    left: 44px;
    height: 72px;
    border-width: 0 0 0 16px;
}
.play-button.play::after {
    left: 36px;
    height: 0;
    border-width: 17px 0 17px 32px;
}

.youtube-link {
    position: fixed;
    left: 20px;
    bottom: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

.play-button1 {
    position: absolute;
    left: 70%;
    top: 75%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 72px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}
.play-button1::before,
.play-button1::after {
    content: '';
    position: absolute;
    top: 36px;
    width: 0;
    height: 0;
    transform: translateY(-50%);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #fff;
    border-right-color: #fff;
    border-style: solid;
    transition: all .2s linear;
}
.play-button1::after {
    content: '';
    position: absolute;
    top: 36px;
    width: 0;
    height: 0;
    transform: translateY(-50%);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #fff;
    border-right-color: #fff;
    border-style: solid;
    transition: all .2s linear;
}
.play-button1::before {
    right: 44px;
    height: 72px;
    border-width: 0 0 0 16px;
}
.play-button1.play1::before {
    right: 36px;
    height: 36px;
    border-width: 14px 0 14px 28px;
}
.play-button1::after {
    left: 44px;
    height: 72px;
    border-width: 0 0 0 16px;
}
.play-button1.play1::after {
    left: 36px;
    height: 0;
    border-width: 17px 0 17px 32px;
}




.play-button2 {
    position: absolute;
    left: 25%;
    top: 75%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 72px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}
.play-button2::before,
.play-button2::after {
    content: '';
    position: absolute;
    top: 36px;
    width: 0;
    height: 0;
    transform: translateY(-50%);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #fff;
    border-right-color: #fff;
    border-style: solid;
    transition: all .2s linear;
}
.play-button2::before {
    right: 44px;
    height: 72px;
    border-width: 0 0 0 16px;
}
.play-button2.play2::before {
    left: 15px;
    height: 0;
    border-width: 17px 32px 17px 0;
}
.play-button2::after {
    left: 44px;
    height: 72px;
    border-width: 0 0 0 16px;
}
.play-button2.play2::after {
    right: 36px;
    height: 36px;
    border-width: 14px 28px 14px 0;
}





.play-button3 {
    position: absolute;
    left: 10%;
    top: 75%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 72px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}
.play-button3::before{
    content: '';
    position: absolute;
    top: 36px;
    width: 0;
    height: 0;
    transform: translateY(-50%);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #fff;
    border-right-color: #fff;
    border-style: solid;
    transition: all .2s linear;
}
.play-button3.play3::before {
    left: 15px;
    height: 0;
    border-width: 25px 50px 25px 0;
}

.play-button3::after {
    content: '';
    position: absolute;
    top: 36px;
    width: 0;
    height: 0;
    transform: translateY(-50%);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #fff;
    border-right-color: #fff;
    border-style: solid;
    transition: all .2s linear;
}
.play-button3.play3::after {
    left: 15px;
    height: 72px;
    border-width: 0 0 0 7px;
}




.play-button4 {
    position: absolute;
    left: 85%;
    top: 75%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 72px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}
.play-button4::before,
.play-button4::after {
    content: '';
    position: absolute;
    top: 36px;
    width: 0;
    height: 0;
    transform: translateY(-50%);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #fff;
    border-right-color: #fff;
    border-style: solid;
    transition: all .2s linear;
}
.play-button4::before {
    right: 44px;
    height: 72px;
    border-width: 0 0 0 16px;
}
.play-button4.play4::before {
    left: 36px;
    height: 0;
    border-width: 25px 0 25px 50px;
}
.play-button4::after {
    left: 80px;
    height: 72px;
    border-width: 0 0 0 7px;
}
.play-button4.play4::after {
    right: 15px;
    height: 72px;
    border-width: 0 0 0 7px;
}





